.blog-page-banner {
  background-image: url("../../../images//backgrounds/blog.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    text-align: center;
    font-weight: 700;
    color: white;
    margin-top: 8rem;
    font-size: 58px;
    margin-bottom: 12rem;
  }
}
