.service-page-1 {
  .how-to-use {
    background-color: #0b0c10;
    display: grid;
    .how-to-use-box {
      background-color: #121212;
      margin-top: 5rem;
      padding: 90px;

      .row {
        .col-xl-2 {
          img {
            width: 70%;
          }
        }

        .col-xl-10 {
          h1 {
            font-size: 3rem;
            color: white;
            letter-spacing: 0.5px;
            margin-bottom: 3rem;
          }

          .step {
            display: flex;
            margin-bottom: 10px;
            h5 {
              color: white;
              color: #66902f;
            }
            p {
              color: white;
              margin-left: 4rem;
            }
            h6 {
              color: white;
              margin-left: 68px;
            }
          }
        }
      }
    }
  }
}
