.creative-services {
  background-color: #0b0c10;
  display: grid;

  .container {
    .row {
      justify-content: center;
      margin-bottom: 8rem;
      .border-left {
        border-left: 4px solid #669021;
      }
      .border-top {
        border-top: 4px solid #669021 !important;
      }
      .col-xl-6 {
        background-color: #121212;
        height: 24rem;
        width: 38rem;
      }
    }

    .service-1:hover {
      background-color: #669021;
      transition: 0.3s;
      border-left: 4px solid white;
      cursor: pointer;
      border-top: 4px solid white;
      svg {
        color: white !important;
      }
    }

    .service-2:hover {
      background-color: #669021;
      cursor: pointer;
      border-right: 4px solid white;
      transition: 0.3s;
      border-top: 4px solid white;
      svg {
        color: white !important;
      }
    }

    .service-3:hover {
      background-color: #669021;
      cursor: pointer;
      border-left: 4px solid white;
      transition: 0.3s;
      border-bottom: 4px solid white;
      svg {
        color: white !important;
      }
    }

    .service-4:hover {
      background-color: #669021;
      cursor: pointer;
      transition: 0.3s;
      border-right: 4px solid white;
      border-bottom: 4px solid white;
      svg {
        color: white !important;
      }
    }

    .row:hover {
      .border-left {
        border-left: 4px solid white;
      }
      .border-top {
        border-top: 4px solid white !important;
      }
    }
  }
  h1 {
    margin-top: 5rem;
    color: white;
    text-align: center;
  }
  h6 {
    text-align: center;
    color: #669021;
    margin-bottom: 3rem;
  }
  .service-card svg {
    font-size: 75px;
  }
}
