.services {
  background-color: #0b0c10;
  display: flex;

  .heading-thatis-common {
    margin-top: 18rem;
  }
  .service-row {
    justify-content: center;
    margin-top: 0rem;
    margin-bottom: 5rem;
  }
}
