.amazon-how-we-help {
  background-color: #0b0c10;
  display: grid;
  .container {
    margin-top: 3rem;
  }
  .cards {
    background: #121212;
  }
  h6 {
    margin-top: 5rem;
    text-align: center;
    color: #669026;
  }
  h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2rem;
    font-size: 50px;
  }
}
