.service-card {
  margin-top: 3rem;
  padding: 80px 90px 70px 55px;
  background-color: #121212;
  width: 25rem;
  border-bottom: 5px solid white;
  svg {
    font-size: 40px;
    fill: #66902f;
  }
  h4 {
    margin-top: 30px;
    color: white;
    font-weight: 700;
  }
  p {
    margin-top: 30px;
    color: white;
  }
}

.service-card:hover {
  border-color: #66902f;
  transition: 0.5s;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .service-card {
    width: 22rem !important;
  }
}
