.social-media-banner {
  background-color: #0b0c10;
  .headings {
    padding: 110px 45px;
    margin-top: 4rem;
    .row {
      .col-xl-6 {
        img {
          margin-top: 3rem;
          width: 90%;
        }

        h3 {
          text-transform: uppercase;
          color: #66902f;
          font-size: 18px;
          margin-bottom: 3rem;
        }
        .over-write {
          color: white;
          font-size: 45px;
          line-height: 4rem;
          text-align: left;
          font-weight: 800;
          letter-spacing: 0.5px;
        }

        .form {
          background-color: #121212;
          width: 26rem;
          padding: 23px;
          border-radius: 10px;
          text-align: -webkit-center;
          h1 {
            font-size: 28px;
            font-weight: 700;
            text-align: center;
            color: white;
          }
          h6 {
            font-size: 18px;
            color: white;
            text-align: center;
          }

          hr {
            opacity: 1;
            background: #669021;
            height: 3px;
            width: 22rem;
          }

          form {
            display: grid;
            justify-items: center;
            position: relative;
            input {
              background: white;
              border: none;
              width: 23rem;
              height: 45px;
              border-radius: 10px;
              margin-top: 1rem;
              padding-left: 32px;
              margin-bottom: 1rem;
            }

            svg {
              position: absolute;
              left: 8px;
              fill: #669026;
              font-size: 18px;
            }
          }
        }
      }

      .form-coloumn {
        text-align: -webkit-right;
      }
      .heading-column {
        text-align: -webkit-left;
      }
    }
  }
}
