.creative-page {
  .creative-testimonials {
    .heading {
      justify-content: center;
    }
    h3 {
      text-align: center;
    }
  }

  .creative-portfolio {
    padding: 36px;
    background: #121212;

    h1 {
      text-align: center;
      margin-top: 5rem;
      color: white;
      font-weight: 700;
    }
    h6 {
      color: #669021;
      margin-bottom: 5rem;
      text-align: center;
    }

    .row-1 {
      display: flex;
      justify-content: center;
      div {
        margin: 5px;
        img {
          width: 100%;
        }
      }
    }
    .row-2 {
      display: flex;
      justify-content: center;
      margin-bottom: 5rem;
      div {
        margin: 5px;
        img {
          width: 100%;
        }
      }
    }

    .content {
      position: relative;
      margin: auto;
      overflow: hidden;
    }

    .content .content-overlay {
      background: #669021;
      position: absolute;
      height: 100%;
      width: 100%;
      left: -5px;
      top: -5px;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out 0s;
    }

    .content:hover .content-overlay {
      opacity: 1;
    }

    .content-image {
      width: 100%;
    }

    .content-details {
      position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }

    .content:hover .content-details {
      top: 50%;
      left: 50%;
      opacity: 1;
    }

    .content-details h3 {
      color: #fff;
      font-weight: 500;
      letter-spacing: 0.15em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }

    .content-details p {
      color: #fff;
      font-size: 0.8em;
    }

    .fadeIn-bottom {
      top: 80%;
    }

    .fadeIn-top {
      top: 20%;
    }

    .fadeIn-left {
      left: 20%;
    }

    .fadeIn-right {
      left: 80%;
    }
  }
}
