.work {
  display: grid;

  h1 {
    text-align: center;
    color: white;
    font-weight: 700;
  }

  .work-banner {
    background-image: url("../../images/backgrounds/work.jpg");
    background-size: cover;

    h1 {
      font-size: 60px;
      margin-top: 10rem;
      margin-bottom: 10rem;
    }
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .col-xl-12:hover .image {
    opacity: 0.3;
  }

  .col-xl-12:hover .middle {
    opacity: 1;
  }

  .text {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
  }

  .work-section {
    background: #121212;
    display: grid;
    h1 {
      margin-top: 5rem;
    }
    h3 {
      color: #638b2e;
      text-transform: uppercase;
      text-align: center;
    }
    .work-tabs {
      display: flex;
      justify-content: center;
      li {
        cursor: pointer;
        text-transform: uppercase;
        list-style: none;
        color: white;
        margin: 60px 40px;
        padding: 5px 10px;
      }

      .make-red {
        background-color: #638b2e !important;
        padding: 5px 10px;
        transition: 0.5s;
      }
    }

    .our-work-images {
      .container {
        max-width: 1210px !important;
        .row {
          margin-bottom: 5rem;
          .col-xl-6 {
            img {
              width: 100%;

              margin-bottom: 26px;
            }
          }
        }
      }
    }
  }
}
