.creative-service-detail {
  text-align-last: center;
  color: white;
  padding: 70px;
  svg {
    font-size: 75px;
    color: #669021;
  }

  h4 {
    margin-top: 2rem;
    font-weight: 700;
  }
  p {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
