@media (min-width: 1201px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
  .our-strategy .row .col-xl-6 p {
    font-size: 16px !important;
    line-height: 30px !important;
    margin-top: 1rem !important;
  }
  .social-media h1 {
    font-size: 38px !important;
    letter-spacing: 0.5px !important;
  }

  .our-strategy .row .col-xl-6 .percentages {
    margin-top: 3rem !important;
  }

  .our-strategy .row {
    justify-content: center !important;
  }

  .social-media-banner .headings .row .col-xl-6 .over-write {
    text-align: left !important;
    font-size: 40px !important;
    line-height: 45px !important;
  }
  .social-media-banner .headings .row .col-xl-6 img {
    margin-top: 3rem !important;
    width: 100% !important;
  }
  .service-page-1 .how-to-use .how-to-use-box .row .col-xl-2 img {
    width: 100% !important;
  }

  .help-from-experts .help-from-experts-box .row .col-xl-5 img {
    width: 100% !important;
    top: 60px !important;
    position: relative !important;
  }

  .service-card {
    padding: 70px 48px 70px 45px !important;
    font-size: 14px !important;
    width: 18rem !important;
  }
  .react-multi-carousel-track li {
    height: 42rem !important;
  }

  .testimonials {
    .logos {
      .container {
        .row {
          margin-left: 5rem !important;
        }
      }
    }
  }

  .footer .row .col-xl-5 p {
    margin-left: -30px;
    color: white;
    margin-top: 2rem;
  }

  .footer .row .col-xl-7 .row .left {
    position: relative;
    left: -42px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .social-media .faqs .row .col-lg-6 img {
    width: 85% !important;
    position: relative !important;
    top: 8rem !important;
  }

  .dual {
    position: relative;
    top: 5rem;
  }
  .our-strategy .row {
    justify-content: center !important;
  }
  .our-strategy .row .col-xl-6 .percentages {
    margin-top: 0rem !important;
  }

  .our-strategy .row .col-xl-6 p {
    font-size: 15px !important;
    line-height: 30px !important;
    margin-top: 1rem !important;
  }

  .social-media h1 {
    font-size: 30px !important;
  }

  .social-media-banner .headings .row .col-xl-6 .form h6 {
    font-size: 15px !important;
  }

  .social-media-banner .headings .row .col-xl-6 .form hr {
    width: 13rem !important;
  }
  .social-media-banner .headings .row .col-xl-6 .form h1 {
    font-size: 22px !important;
  }

  .social-media-banner .headings .row .col-xl-6 .form {
    padding: 6px 40px !important;
  }

  .fa-circle {
    top: 28px !important;
  }
  .md-email {
    top: 95px !important;
  }
  .bs-telephone {
    top: 160px !important;
  }

  .social-media-banner .headings .row .col-xl-6 .form form svg {
    left: 8px !important;
    font-size: 18px !important;
  }

  .social-media-banner .headings .row .col-xl-6 .form form input {
    width: 16rem !important;
    height: 40px !important;
    margin-top: 1rem !important;
    margin-bottom: 10px !important;
  }

  .social-media-banner .headings .row .col-xl-6 .form {
    width: fit-content !important;
    padding-top: 14px !important;
  }

  .social-media-banner .headings .row .col-xl-6 img {
    margin-top: 2rem !important;
    width: 100% !important;
  }

  .social-media-banner .headings .row .col-xl-6 .over-write {
    font-size: 28px !important;
    line-height: 3rem !important;
    text-align: left !important;
  }

  .social-media-banner .headings {
    padding: 48px !important;
  }

  .service-page-1 .how-to-use .how-to-use-box .row .col-xl-2 img {
    width: 10rem !important;
    position: relative !important;
    left: -5rem !important;
  }

  .key-features .key-features-box .row h1 {
    text-align: center !important;
  }

  .key-features .key-features-box .row .col-xl-4 p {
    text-align: center !important;
  }

  .key-features .key-features-box .row .col-xl-4 {
    text-align: center !important;
  }

  .help-from-experts .help-from-experts-box .row .col-xl-5 img {
    margin-top: 5rem !important;
  }

  .service-banner .container .service-provider-heading {
    font-size: 65px !important;
  }

  .service-banner .container .service-heading h1 {
    font-size: 60px !important;
    top: 0px !important;
  }

  .service-banner .container .service-heading .logo {
    width: 45% !important;
  }

  .footer {
    height: 33rem !important;
  }
  .testimonials .logos .container .row {
    margin-left: 30px;
  }
  .service-card {
    width: 21rem;
    font-size: 13px;
  }

  .nav-icon {
    top: -20px !important;
    font-size: 2rem !important;
  }
  .footer .row .col-xl-5 img {
    width: 70%;
  }
  .footer .row .col-xl-7 .col-xl-4 h3 {
    margin-bottom: 35px;
    font-size: 15px !important;
  }
  .footer .row .col-xl-7 .col-xl-4 span h6 {
    font-size: 12px;
    font-weight: 100;
  }

  .footer .row .col-xl-5 p {
    margin-left: -40px;
    margin-top: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 766px) {
  .social-media .faqs .row .col-lg-6 img {
    margin-top: 8rem;
  }

  .percentages {
    .col-xl-4 {
      margin-bottom: 3rem;
    }
  }
  .our-strategy .row .col-xl-6 p {
    font-size: 16px !important;
    line-height: 28px !important;
    margin-top: 1rem !important;
  }

  .social-media h1 {
    font-size: 30px !important;
  }

  .our-strategy .row .col-xl-6 .percentages {
    text-align: -webkit-center;
  }
  .social-media-banner .headings .row .col-xl-6 img {
    margin-top: 3rem !important;
    width: 100% !important;
    margin-bottom: 4rem !important;
  }

  .social-media-banner .headings .row .col-xl-6 h3 {
    font-size: 20px !important;
  }
  .social-media-banner .headings .row .col-xl-6 .over-write {
    text-align: left !important;
    font-size: 33px !important;
    line-height: 45px !important;
  }
  .our-services {
    position: relative !important;
    left: 24px !important;
    margin-top: 1.5rem !important;
  }
  .service-page-1 .how-to-use .how-to-use-box .row .col-xl-2 img {
    width: 40% !important;
    margin-bottom: 3rem !important;
  }

  .how-to-use-box {
    .row {
      .col-xl-2 {
        text-align: center !important;
      }
    }
  }

  .key-features .key-features-box .row h1 {
    text-align: center !important;
  }

  .key-features .key-features-box .row .col-xl-4 {
    text-align: center !important;
  }
  .key-features .key-features-box .row .col-xl-4 p {
    text-align: center;
  }

  .service-banner .container .service-provider-heading {
    font-size: 65px !important;
    line-height: 4.5rem !important;
  }

  .service-banner .container .service-heading h1 {
    font-size: 50px !important;
    top: 0px !important;
  }

  .service-banner .container .service-heading .logo {
    width: 50% !important;
  }
  .about .row .bg-2 {
    margin-top: 2rem;
  }
  .news .container-fluid .row .col-xl-4 .img-text p {
    font-size: 14px;
  }
  .footer {
    height: 62rem;
  }

  .footer {
    .container {
      p {
        margin-left: -24px !important;
      }
      .row {
        .row {
          .left {
            position: relative;
            left: 22px;
            top: -40px;
          }
          .services {
            position: relative;

            margin-left: 22px;
            top: 10px;
          }

          .right {
            position: relative;
            top: 55px;
            left: 20px;
          }
        }
      }
    }
  }

  .r2 {
    p {
      font-size: 12px;
    }
  }

  .about .row h4 {
    font-size: 16px;
  }

  .react-multi-carousel-list .react-multi-carousel-track li {
    height: 46rem;
  }
}

@media (max-width: 575px) {
  .our-strategy .row .col-xl-6 .percentages {
    text-align: -webkit-center;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 p {
    font-size: 14px !important;
    line-height: 26px !important;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 h1 {
    font-size: 28px !important;
  }
  .our-strategy .main-heading {
    font-size: 26px !important;
  }

  .our-strategy .sub-heading {
    font-size: 14px !important;
  }
  .row .col-xl-6 .percentages {
    text-align: -webkit-center;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 .percentages {
    text-align: -webkit-center;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 p {
    font-size: 14px !important;
    line-height: 26px !important;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 h1 {
    font-size: 28px !important;
  }
  .our-strategy .main-heading {
    font-size: 26px !important;
  }

  .our-strategy .sub-heading {
    font-size: 14px !important;
  }
  .row .col-xl-6 p {
    font-size: 14px !important;
    line-height: 26px !important;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 .percentages {
    text-align: -webkit-center;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 p {
    font-size: 14px !important;
    line-height: 26px !important;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 h1 {
    font-size: 28px !important;
  }
  .our-strategy .main-heading {
    font-size: 26px !important;
  }

  .our-strategy .sub-heading {
    font-size: 14px !important;
  }
  .row .col-xl-6 h1 {
    font-size: 28px !important;
  }

  .our-strategy .row .col-xl-6 .percentages {
    text-align: -webkit-center;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 p {
    font-size: 14px !important;
    line-height: 26px !important;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 h1 {
    font-size: 28px !important;
  }
  .our-strategy .main-heading {
    font-size: 26px !important;
  }

  .our-strategy .sub-heading {
    font-size: 14px !important;
  }
  .main-heading {
    font-size: 26px !important;
  }

  .our-strategy .row .col-xl-6 .percentages {
    text-align: -webkit-center;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 p {
    font-size: 14px !important;
    line-height: 26px !important;
    margin-top: 2rem !important;
  }

  .our-strategy .row .col-xl-6 h1 {
    font-size: 28px !important;
  }
  .our-strategy .main-heading {
    font-size: 26px !important;
  }

  .our-strategy .sub-heading {
    font-size: 14px !important;
  }
  .sub-heading {
    font-size: 14px !important;
  }

  .creative-service-detail {
    text-align-last: left !important;
    color: white !important;
    padding: 35px !important;
  }

  .ready-to-grow .contact-bar span {
    margin: 20px !important;
  }

  .ready-to-grow .contact-bar {
    display: grid !important;
  }
  .ready-to-grow h6 {
    font-size: 14px !important;
  }

  .ready-to-grow h1 {
    font-size: 24px !important;
  }
  .contact-bar span {
    margin: 20px !important;
  }

  .ready-to-grow .contact-bar span {
    margin: 20px !important;
  }

  .ready-to-grow .contact-bar {
    display: grid !important;
  }
  .ready-to-grow h6 {
    font-size: 14px !important;
  }

  .ready-to-grow h1 {
    font-size: 24px !important;
  }
  .contact-bar {
    display: grid !important;
  }
  .ready-to-grow .contact-bar span {
    margin: 20px !important;
  }

  .ready-to-grow .contact-bar {
    display: grid !important;
  }
  .ready-to-grow h6 {
    font-size: 14px !important;
  }

  .ready-to-grow h1 {
    font-size: 24px !important;
  }
  h6 {
    font-size: 14px !important;
  }

  .ready-to-grow .contact-bar span {
    margin: 20px !important;
  }

  .ready-to-grow .contact-bar {
    display: grid !important;
  }
  .ready-to-grow h6 {
    font-size: 14px !important;
  }

  .ready-to-grow h1 {
    font-size: 24px !important;
  }
  h1 {
    font-size: 24px !important;
  }

  .heading h1 {
    font-size: 26px !important;
    padding: 90px 0px 28px 0px !important;
  }

  .creative-service-detail p {
    margin-top: 1rem;
    margin-left: 0 !important ;
    margin-right: 0 !important;
  }

  .creative-business-process .container .row .col-xl-3 .processes {
    border-left: 0 !important;
  }

  .creative-services .container .row .col-xl-6 {
    height: 25rem !important;
    width: 20rem !important;
  }

  .key-features .key-features-box .row {
    padding: 15px !important;
  }

  .social-media .faqs .row .col-lg-6 img {
    margin-top: 8rem;
  }

  .social-media-banner .headings .row .col-xl-6 img {
    width: 100% !important;
  }

  .fa-circle {
    top: 15px !important;
  }
  .md-email {
    top: 77px !important;
  }
  .bs-telephone {
    top: 142px !important;
  }

  .creative-banner .headings .row .col-xl-6 .over-write {
    .creative-banner .headings .row .col-xl-6 img {
      margin-top: 2rem !important;
      width: 100% !important;
    }

    font-size: 24px !important;
    text-align: left !important;
    line-height: 38px !important;
  }

  .creative-banner .headings {
    padding: 20px !important;
  }

  .creative-banner .headings .row .col-xl-6 .form hr {
    width: 10rem !important;
  }
  .creative-banner .headings .row .col-xl-6 .form form svg {
    left: 55px !important;
  }
  .creative-banner .headings .row .col-xl-6 .form {
    margin-top: 5rem;
    width: 19rem !important;
    padding: 20px 0px !important;
  }

  .creative-banner .headings .row .col-xl-6 .form form input {
    width: 13rem !important;
    height: 45px !important;
    margin-top: 0rem !important;
    margin-bottom: 18px !important;
    font-size: 14px !important;
  }

  .social-media-banner .headings .row .col-xl-6 .form hr {
    width: 10rem !important;
  }
  .social-media-banner .headings .row .col-xl-6 .form form svg {
    left: 55px !important;
  }
  .social-media-banner .headings .row .col-xl-6 .form {
    margin-top: 5rem;
    width: 19rem !important;
    padding: 20px 0px !important;
  }

  .social-media-banner .headings .row .col-xl-6 .form form input {
    width: 13rem !important;
    height: 45px !important;
    margin-top: 0rem !important;
    margin-bottom: 18px !important;
    font-size: 14px !important;
  }

  .ready-to-grow .contact-bar span {
    margin: 20px !important;
  }

  .ready-to-grow .contact-bar {
    display: grid !important;
  }
  .ready-to-grow h6 {
    font-size: 14px !important;
  }

  .ready-to-grow h1 {
    font-size: 24px !important;
  }

  .our-clients .container .row .col img {
    width: 140% !important;
  }

  .logo-section .container .row .col img {
    width: 125% !important;
  }
  .our-clients h1 {
    font-size: 26px !important;
  }
  .how-we-help h1 {
    font-size: 26px !important;
  }

  .service-card {
    padding: 20px 30px 20px 40px !important;
  }

  .social-media-services h6 {
    font-size: 14px !important;
  }

  .social-media-services h1 {
    font-size: 25px !important;
  }

  .social-media-banner .headings .row .col-xl-6 .over-write {
    .social-media-banner .headings .row .col-xl-6 img {
      margin-top: 2rem !important;
      width: 100% !important;
    }

    font-size: 24px !important;
    text-align: left !important;
    line-height: 38px !important;
  }

  .social-media-banner .headings {
    padding: 20px !important;
  }

  .how-to-use-box {
    .row {
      .col-xl-2 {
        text-align: center !important;
      }
    }
  }
  .project-in-mind {
    h1 {
      font-size: 2rem !important;
    }

    h6 {
      font-size: 14px !important;
      margin-top: 2rem !important;
    }
  }
  .service-page-1 .how-to-use .how-to-use-box {
    margin-top: 5rem !important;
    padding: 20px !important;
  }
  .service-page-1 .how-to-use .how-to-use-box .row .col-xl-2 img {
    width: 30% !important;
  }
  .discover-services .container .row .col-xl-4 {
    margin-bottom: 2rem !important;
    width: -moz-fit-content !important;
    border-bottom: 1px solid #66902f !important;
    width: fit-content !important;
  }

  .service-page-1 .how-to-use .how-to-use-box .row .col-xl-10 h1 {
    margin-top: 3rem !important;
    font-size: 22px !important;
    margin-bottom: 3rem !important;
    text-align: center !important;
  }

  .help-from-experts .help-from-experts-box .row .col-xl-7 p {
    text-align: center !important;
    line-height: 25px !important;
  }

  .help-from-experts .help-from-experts-box .row .col-xl-5 img {
    width: 100% !important;
    margin-top: 3rem !important;
  }

  .service-banner .container .service-provider-heading {
    font-size: 55px !important;
    left: 15px !important;
    position: relative !important;
    line-height: 4rem !important;
  }
  .help-from-experts .help-from-experts-box .row .col-xl-7 h1 {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
  }
  .help-from-experts .help-from-experts-box .row .col-xl-7 h6 {
    text-align: center !important;
  }

  .service-banner .container p {
    font-size: 16px !important;
    left: 15px !important;
  }

  .service-banner .container .service-heading h1 {
    font-size: 45px !important;
    top: -5px !important;
    left: 15px !important;
  }

  .service-banner .container .service-heading .logo {
    width: 60% !important;
  }

  .service-banner .container .service-heading {
    margin-top: 10rem !important;
    display: block !important;
  }

  .footer {
    height: 65rem;
  }

  .testimonials .logos .container .row {
    line-height: 6rem;
    text-align-last: center;
  }
  .testimonials .logos .container .row .col img {
    width: 55px;
  }

  .footer .row .col-xl-7 .row {
    position: relative;
    margin-left: 25px;
  }

  .footer .row .col-xl-5 img {
    width: 70%;
  }
  .left {
    position: relative;
    top: -38px;
  }
  .our-services {
    position: relative;
    top: 15px;
  }
  .right {
    position: relative;
    top: 66px;
  }
  .news {
    .container {
      .heading {
        h1 {
          font-size: 35px;
        }
      }
      h3 {
        text-align: center;
      }
    }
  }

  .testimonials {
    .container {
      .heading {
        h1 {
          font-size: 38px;
        }
      }
      h3 {
        text-align: center;
      }
    }
  }

  .about {
    .row {
      .col-xl-4 {
        padding-top: 2rem;
        padding-left: 30px;
        padding-bottom: 2rem;
      }

      .left-border {
        border-left: none;
        border-top: 3px solid #669026;
      }

      .bg-1 {
        height: 17rem;
        margin-bottom: 2rem;
      }
      .container {
        .heading {
          margin-left: 3rem;
        }
        h3 {
          text-align: center;
        }
      }
    }
  }

  .works {
    height: 65rem;
    .container {
      .heading {
        margin-left: 3rem;
      }
      h3 {
        text-align: center !important;
      }
      button {
        margin-left: 7rem;
      }
    }
  }
  .works .container {
    display: inherit;
  }

  .services .row {
    margin-top: 0rem;
  }

  .upper-gap {
    margin-top: 5rem;
  }
  .con h1 {
    font-size: 50px;
    line-height: 57px;
    text-align: left;
    margin-left: 3rem;
    h3 {
      font-size: 16px !important;
      margin-bottom: 2rem;
      text-align: center;
    }
    button {
      margin-left: 3rem;
    }
  }

  .nav-logo {
    margin-left: 1rem;
    margin-top: 18px;
    img {
      width: 220px !important;
    }
  }
}
