.con {
  margin-top: 10rem;
  position: relative;
  h3 {
    text-transform: uppercase;
    color: #66902f;
    font-size: 18px;
    font-family: "Noah Grotesque Regular";
    margin-bottom: 3rem;
  }
  h1 {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 80px;
    line-height: 5rem;
    font-weight: 800;
    letter-spacing: 0.5px;
  }
}
