.con {
  margin-top: 10rem;
  position: relative;
  h3 {
    text-transform: uppercase;
    color: #66902f;
    font-size: 18px;
    margin-bottom: 2rem;
  }
  h1 {
    color: white;
    font-size: 60px;
    line-height: 5rem;
    margin-top: 14rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
  }
}
