.how-to-use {
  background-color: #0b0c10;
  display: grid;
  .how-to-use-box {
    background-color: #121212;
    margin-top: 5rem;
    padding: 90px;

    .row {
      .col-xl-2 {
        img {
          width: 70%;
        }
      }

      .col-xl-10 {
        h1 {
          font-size: 3rem;
          color: white;
          letter-spacing: 0.5px;
          margin-bottom: 3rem;
        }

        .step {
          display: flex;
          margin-bottom: 10px;
          h5 {
            color: white;
            color: #66902f;
          }
          p {
            color: white;
            margin-left: 4rem;
          }
          h6 {
            color: white;
            margin-left: 68px;
          }
        }
      }
    }
  }
}
.help-from-experts {
  display: grid;
  background-color: #121212;
  .help-from-experts-box {
    .row {
      padding: 75px;
      background-color: #121212;
      margin-top: 10rem;

      .col-xl-7 {
        h1 {
          color: white;
          font-size: 50px;
        }
        h6 {
          color: #66902f;
          margin-bottom: 3rem;
        }
        p {
          color: white;
          line-height: 35px;
        }
      }

      .col-xl-5 {
        text-align: center;
        img {
          width: 70%;
        }
      }
    }
  }
}

.key-features {
  display: grid;
  background-color: #0b0c10;

  .key-features-box {
    margin-top: 5rem;
    .row {
      padding: 75px;
      background-color: #121212;

      h1 {
        text-align: left;
        color: white;
        font-size: 50px;
      }

      .col-xl-4 {
        margin-top: 2rem;

        h6 {
          margin-top: 3rem;
          color: #66902f;
        }
        p {
          margin-top: 1rem;
          color: white;
          text-align: left;
          font-size: 14px;
        }
        svg {
          font-size: 8rem;
          color: #66902f;
        }
      }
    }
  }
}

.discover-services {
  background-color: #121212;
  display: grid;
  .container {
    margin-top: 5rem;
    .row {
      justify-content: space-evenly;
      margin-top: 3rem;
      .col-xl-4 {
        width: fit-content;
        ul {
          line-height: 45px;
          color: white;
          li {
            //   max-width: fit-content;
          }
        }
      }
    }
    h5 {
      text-align: center;
      color: #66902f;
    }
  }
}
